body{
    background-color: #dad7cd;
}

.navbar{
    background-color: #a3b18a;
}

.navbar-nav .nav-link{
    color: #344e41;
}

.table td, .table th{
    text-align: center;
}

.form-container{
    margin-top: 20px;
}

.form-container form{
    max-width: 400px;
    margin: auto;
}

.form-container input[type="text"], .form-container input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button[type="submit"]{
    background-color: #588157;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button[type="submit"]:hover{
    background-color: #3a5a40;
}